* { box-sizing: border-box; }

body {
  font: 14px/1.4 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji";
  margin: 20px;
}

ol, ul { padding-left: 30px; }

.board-row:after { clear: both; content: ""; display: table; }

.status { margin-bottom: 10px; font-weight: bold; }

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
  cursor: pointer;
}

.square:hover {
  background: #f0f0f0;
}

.square:focus { outline: none; }

.game { display: flex; flex-direction: row; justify-content: center; }

.game-info { margin-left: 20px; }
